
<div class="intro page-container">
  <p><small>Your partner in</small></p>
  <h1><strong class="highlight">Carbon-free</strong> Digital Business Transformation</h1>
  <br>
  <p>
    Improve your business efficiency with process automation and streamlined productivity by implementing <strong class="highlight">sustainable software and tehcnology solutions</strong>.
  </p>
  <div class="animation">
    <svg preserveAspectRatio="xMinYMin meet" viewBox="0 0 612 306" id="sustainable-development">
      <g id="sustainable-development">
        <rect id="Spacer" width="600" height="300" fill="white"/>
        <g id="Vector">
          <path d="M566.646 293.185C583.858 293.185 589.102 278.989 584.143 261.603C581.339 251.771 574.854 238.914 564.26 233.096C535.267 217.173 539.175 216.409 531.997 199.461C520.281 171.795 475.23 170.727 456.822 190.552C442.498 205.977 436.369 227.723 416.855 243.745C393.3 263.085 399.725 293.465 422.35 293.465L566.646 293.185Z" fill="#367CFF"/>
          <path d="M585.92 276.418H404.376L414.824 253.928H575.472L585.92 276.418Z" fill="#292A2E"/>
          <path d="M585.92 276.418H404.376L414.824 253.928H575.472L585.92 276.418Z" fill="white"/>
          <path d="M404.377 276.617C404.344 276.617 404.311 276.608 404.282 276.592C404.252 276.576 404.228 276.553 404.21 276.525C404.192 276.496 404.181 276.464 404.179 276.431C404.177 276.398 404.184 276.364 404.198 276.334L414.645 253.844C414.661 253.81 414.686 253.781 414.718 253.761C414.75 253.74 414.787 253.73 414.824 253.73H575.472C575.51 253.73 575.547 253.74 575.578 253.761C575.61 253.781 575.635 253.81 575.651 253.844L586.1 276.334C586.114 276.364 586.121 276.397 586.119 276.431C586.117 276.464 586.106 276.496 586.089 276.524C586.071 276.552 586.046 276.576 586.017 276.592C585.988 276.608 585.955 276.616 585.922 276.617H404.377ZM404.688 276.22H585.608L575.346 254.126H414.95L404.688 276.22Z" fill="#292A2E"/>
          <path d="M507.703 246.398H490.122V259.689H507.703V246.398Z" fill="#292A2E"/>
          <path d="M507.703 246.398H490.122V253.499H507.703L507.703 246.398Z" fill="#0C0C0C"/>
          <path d="M536.253 193.665H461.572C460.397 193.665 459.445 194.618 459.445 195.792V247.913C459.445 249.087 460.397 250.039 461.572 250.039H536.253C537.428 250.039 538.38 249.087 538.38 247.913V195.792C538.38 194.618 537.428 193.665 536.253 193.665Z" fill="#292A2E"/>
          <path d="M535.203 196.081H462.622C462.14 196.081 461.749 196.472 461.749 196.954V240.181C461.749 240.663 462.14 241.054 462.622 241.054H535.203C535.685 241.054 536.076 240.663 536.076 240.181V196.954C536.076 196.472 535.685 196.081 535.203 196.081Z" fill="white"/>
          <path d="M511.361 258.597H486.464C485.827 258.597 485.31 259.114 485.31 259.751C485.31 260.388 485.827 260.904 486.464 260.904H511.361C511.998 260.904 512.514 260.388 512.514 259.751C512.514 259.114 511.998 258.597 511.361 258.597Z" fill="#292A2E"/>
          <path d="M486.599 203.265H483.293C483.274 203.266 483.254 203.262 483.236 203.255C483.217 203.248 483.2 203.238 483.186 203.224C483.172 203.21 483.161 203.194 483.153 203.176C483.145 203.157 483.141 203.138 483.141 203.118C483.141 203.098 483.145 203.079 483.153 203.061C483.161 203.043 483.172 203.026 483.186 203.013C483.2 202.999 483.217 202.988 483.236 202.981C483.254 202.974 483.274 202.971 483.293 202.971H486.599C486.637 202.973 486.673 202.989 486.699 203.016C486.725 203.044 486.74 203.08 486.74 203.118C486.74 203.156 486.725 203.193 486.699 203.22C486.673 203.247 486.637 203.263 486.599 203.265Z" fill="#292A2E"/>
          <path d="M480.91 203.265H479.659C479.639 203.266 479.62 203.262 479.601 203.255C479.583 203.248 479.566 203.238 479.552 203.224C479.537 203.21 479.526 203.194 479.518 203.176C479.511 203.157 479.507 203.138 479.507 203.118C479.507 203.098 479.511 203.079 479.518 203.061C479.526 203.043 479.537 203.026 479.552 203.013C479.566 202.999 479.583 202.988 479.601 202.981C479.62 202.974 479.639 202.971 479.659 202.971H480.91C480.929 202.971 480.949 202.974 480.967 202.981C480.986 202.988 481.003 202.999 481.017 203.013C481.031 203.026 481.042 203.043 481.05 203.061C481.058 203.079 481.062 203.098 481.062 203.118C481.062 203.138 481.058 203.157 481.05 203.176C481.042 203.194 481.031 203.21 481.017 203.224C481.003 203.238 480.986 203.248 480.967 203.255C480.949 203.262 480.929 203.266 480.91 203.265Z" fill="#367CFF"/>
          <path d="M480.91 205.913H479.659C479.62 205.913 479.583 205.897 479.555 205.87C479.528 205.842 479.512 205.805 479.512 205.766C479.512 205.727 479.528 205.69 479.555 205.662C479.583 205.634 479.62 205.619 479.659 205.619H480.91C480.948 205.619 480.986 205.634 481.013 205.662C481.041 205.69 481.056 205.727 481.056 205.766C481.056 205.805 481.041 205.842 481.013 205.87C480.986 205.897 480.948 205.913 480.91 205.913Z" fill="#367CFF"/>
          <path d="M480.91 208.56H479.659C479.62 208.56 479.583 208.545 479.555 208.517C479.528 208.49 479.512 208.452 479.512 208.413C479.512 208.375 479.528 208.337 479.555 208.31C479.583 208.282 479.62 208.267 479.659 208.267H480.91C480.948 208.267 480.986 208.282 481.013 208.31C481.041 208.337 481.056 208.375 481.056 208.413C481.056 208.452 481.041 208.49 481.013 208.517C480.986 208.545 480.948 208.56 480.91 208.56Z" fill="#367CFF"/>
          <path d="M480.91 211.208H479.659C479.62 211.208 479.583 211.192 479.555 211.165C479.528 211.137 479.512 211.1 479.512 211.061C479.512 211.022 479.528 210.985 479.555 210.957C479.583 210.93 479.62 210.914 479.659 210.914H480.91C480.948 210.914 480.986 210.93 481.013 210.957C481.041 210.985 481.056 211.022 481.056 211.061C481.056 211.1 481.041 211.137 481.013 211.165C480.986 211.192 480.948 211.208 480.91 211.208Z" fill="#367CFF"/>
          <path d="M480.91 213.855H479.659C479.639 213.856 479.62 213.853 479.601 213.846C479.583 213.839 479.566 213.828 479.552 213.814C479.537 213.801 479.526 213.784 479.518 213.766C479.511 213.748 479.507 213.728 479.507 213.709C479.507 213.689 479.511 213.669 479.518 213.651C479.526 213.633 479.537 213.617 479.552 213.603C479.566 213.589 479.583 213.579 479.601 213.572C479.62 213.565 479.639 213.561 479.659 213.562H480.91C480.929 213.561 480.949 213.565 480.967 213.572C480.986 213.579 481.003 213.589 481.017 213.603C481.031 213.617 481.042 213.633 481.05 213.651C481.058 213.669 481.062 213.689 481.062 213.709C481.062 213.728 481.058 213.748 481.05 213.766C481.042 213.784 481.031 213.801 481.017 213.814C481.003 213.828 480.986 213.839 480.967 213.846C480.949 213.853 480.929 213.856 480.91 213.855Z" fill="#367CFF"/>
          <path d="M480.91 216.502H479.659C479.62 216.502 479.583 216.487 479.555 216.459C479.528 216.432 479.512 216.394 479.512 216.356C479.512 216.317 479.528 216.279 479.555 216.252C479.583 216.224 479.62 216.209 479.659 216.209H480.91C480.948 216.209 480.986 216.224 481.013 216.252C481.041 216.279 481.056 216.317 481.056 216.356C481.056 216.394 481.041 216.432 481.013 216.459C480.986 216.487 480.948 216.502 480.91 216.502Z" fill="#367CFF"/>
          <path d="M480.91 219.151H479.659C479.62 219.151 479.583 219.135 479.555 219.108C479.528 219.08 479.512 219.043 479.512 219.004C479.512 218.965 479.528 218.928 479.555 218.9C479.583 218.873 479.62 218.857 479.659 218.857H480.91C480.948 218.857 480.986 218.873 481.013 218.9C481.041 218.928 481.056 218.965 481.056 219.004C481.056 219.043 481.041 219.08 481.013 219.108C480.986 219.135 480.948 219.151 480.91 219.151Z" fill="#367CFF"/>
          <path d="M480.91 221.798H479.659C479.639 221.799 479.62 221.796 479.601 221.789C479.583 221.782 479.566 221.771 479.552 221.757C479.537 221.744 479.526 221.727 479.518 221.709C479.511 221.691 479.507 221.671 479.507 221.652C479.507 221.632 479.511 221.612 479.518 221.594C479.526 221.576 479.537 221.56 479.552 221.546C479.566 221.532 479.583 221.522 479.601 221.515C479.62 221.507 479.639 221.504 479.659 221.505H480.91C480.929 221.504 480.949 221.507 480.967 221.515C480.986 221.522 481.003 221.532 481.017 221.546C481.031 221.56 481.042 221.576 481.05 221.594C481.058 221.612 481.062 221.632 481.062 221.652C481.062 221.671 481.058 221.691 481.05 221.709C481.042 221.727 481.031 221.744 481.017 221.757C481.003 221.771 480.986 221.782 480.967 221.789C480.949 221.796 480.929 221.799 480.91 221.798Z" fill="#367CFF"/>
          <path d="M480.91 224.446H479.659C479.62 224.446 479.583 224.431 479.555 224.403C479.528 224.376 479.512 224.339 479.512 224.3C479.512 224.261 479.528 224.223 479.555 224.196C479.583 224.168 479.62 224.153 479.659 224.153H480.91C480.948 224.153 480.986 224.168 481.013 224.196C481.041 224.223 481.056 224.261 481.056 224.3C481.056 224.339 481.041 224.376 481.013 224.403C480.986 224.431 480.948 224.446 480.91 224.446Z" fill="#367CFF"/>
          <path d="M480.91 227.094H479.659C479.62 227.094 479.583 227.078 479.555 227.051C479.528 227.023 479.512 226.986 479.512 226.947C479.512 226.908 479.528 226.871 479.555 226.843C479.583 226.816 479.62 226.8 479.659 226.8H480.91C480.948 226.8 480.986 226.816 481.013 226.843C481.041 226.871 481.056 226.908 481.056 226.947C481.056 226.986 481.041 227.023 481.013 227.051C480.986 227.078 480.948 227.094 480.91 227.094Z" fill="#367CFF"/>
          <path d="M480.91 229.741H479.659C479.639 229.742 479.62 229.739 479.601 229.732C479.583 229.725 479.566 229.714 479.552 229.7C479.537 229.687 479.526 229.67 479.518 229.652C479.511 229.634 479.507 229.614 479.507 229.595C479.507 229.575 479.511 229.555 479.518 229.537C479.526 229.519 479.537 229.503 479.552 229.489C479.566 229.475 479.583 229.464 479.601 229.457C479.62 229.45 479.639 229.447 479.659 229.448H480.91C480.929 229.447 480.949 229.45 480.967 229.457C480.986 229.464 481.003 229.475 481.017 229.489C481.031 229.503 481.042 229.519 481.05 229.537C481.058 229.555 481.062 229.575 481.062 229.595C481.062 229.614 481.058 229.634 481.05 229.652C481.042 229.67 481.031 229.687 481.017 229.7C481.003 229.714 480.986 229.725 480.967 229.732C480.949 229.739 480.929 229.742 480.91 229.741Z" fill="#367CFF"/>
          <path d="M480.91 232.389H479.659C479.62 232.389 479.583 232.373 479.555 232.346C479.528 232.318 479.512 232.281 479.512 232.242C479.512 232.203 479.528 232.166 479.555 232.138C479.583 232.111 479.62 232.095 479.659 232.095H480.91C480.948 232.095 480.986 232.111 481.013 232.138C481.041 232.166 481.056 232.203 481.056 232.242C481.056 232.281 481.041 232.318 481.013 232.346C480.986 232.373 480.948 232.389 480.91 232.389Z" fill="#367CFF"/>
          <path d="M480.91 235.037H479.659C479.62 235.037 479.583 235.021 479.555 234.994C479.528 234.966 479.512 234.929 479.512 234.89C479.512 234.851 479.528 234.814 479.555 234.786C479.583 234.758 479.62 234.743 479.659 234.743H480.91C480.948 234.743 480.986 234.758 481.013 234.786C481.041 234.814 481.056 234.851 481.056 234.89C481.056 234.929 481.041 234.966 481.013 234.994C480.986 235.021 480.948 235.037 480.91 235.037Z" fill="#367CFF"/>
          <path d="M480.91 237.684H479.659C479.639 237.685 479.62 237.682 479.601 237.675C479.583 237.667 479.566 237.657 479.552 237.643C479.537 237.629 479.526 237.613 479.518 237.595C479.511 237.577 479.507 237.557 479.507 237.537C479.507 237.518 479.511 237.498 479.518 237.48C479.526 237.462 479.537 237.445 479.552 237.432C479.566 237.418 479.583 237.407 479.601 237.4C479.62 237.393 479.639 237.39 479.659 237.391H480.91C480.929 237.39 480.949 237.393 480.967 237.4C480.986 237.407 481.003 237.418 481.017 237.432C481.031 237.445 481.042 237.462 481.05 237.48C481.058 237.498 481.062 237.518 481.062 237.537C481.062 237.557 481.058 237.577 481.05 237.595C481.042 237.613 481.031 237.629 481.017 237.643C481.003 237.657 480.986 237.667 480.967 237.675C480.949 237.682 480.929 237.685 480.91 237.684Z" fill="#367CFF"/>
          <path d="M489.24 205.913H486.229C486.209 205.913 486.19 205.91 486.171 205.903C486.153 205.896 486.136 205.885 486.122 205.872C486.108 205.858 486.096 205.841 486.089 205.823C486.081 205.805 486.077 205.786 486.077 205.766C486.077 205.746 486.081 205.727 486.089 205.708C486.096 205.69 486.108 205.674 486.122 205.66C486.136 205.647 486.153 205.636 486.171 205.629C486.19 205.622 486.209 205.618 486.229 205.619H489.24C489.26 205.618 489.28 205.622 489.298 205.629C489.317 205.636 489.333 205.647 489.348 205.66C489.362 205.674 489.373 205.69 489.381 205.708C489.389 205.727 489.392 205.746 489.392 205.766C489.392 205.786 489.389 205.805 489.381 205.823C489.373 205.841 489.362 205.858 489.348 205.872C489.333 205.885 489.317 205.896 489.298 205.903C489.28 205.91 489.26 205.913 489.24 205.913Z" fill="#292A2E"/>
          <path d="M486.599 221.798H483.293C483.274 221.799 483.254 221.796 483.236 221.789C483.217 221.782 483.2 221.771 483.186 221.757C483.172 221.744 483.161 221.727 483.153 221.709C483.145 221.691 483.141 221.671 483.141 221.652C483.141 221.632 483.145 221.612 483.153 221.594C483.161 221.576 483.172 221.56 483.186 221.546C483.2 221.532 483.217 221.522 483.236 221.515C483.254 221.507 483.274 221.504 483.293 221.505H486.599C486.637 221.506 486.673 221.522 486.699 221.55C486.725 221.577 486.74 221.614 486.74 221.652C486.74 221.69 486.725 221.726 486.699 221.754C486.673 221.781 486.637 221.797 486.599 221.798Z" fill="#292A2E"/>
          <path d="M489.24 224.446H486.229C486.19 224.446 486.153 224.431 486.125 224.403C486.098 224.376 486.082 224.339 486.082 224.3C486.082 224.261 486.098 224.223 486.125 224.196C486.153 224.168 486.19 224.153 486.229 224.153H489.24C489.279 224.153 489.317 224.168 489.344 224.196C489.372 224.223 489.387 224.261 489.387 224.3C489.387 224.339 489.372 224.376 489.344 224.403C489.317 224.431 489.279 224.446 489.24 224.446Z" fill="#292A2E"/>
          <path d="M510.227 208.56H488.283C488.244 208.56 488.207 208.545 488.179 208.517C488.152 208.49 488.136 208.452 488.136 208.413C488.136 208.375 488.152 208.337 488.179 208.31C488.207 208.282 488.244 208.267 488.283 208.267H510.227C510.266 208.267 510.303 208.282 510.331 208.31C510.358 208.337 510.374 208.375 510.374 208.413C510.374 208.452 510.358 208.49 510.331 208.517C510.303 208.545 510.266 208.56 510.227 208.56Z" fill="#292A2E"/>
          <path d="M526.103 208.56H513.404C513.365 208.56 513.328 208.545 513.301 208.517C513.273 208.49 513.258 208.452 513.258 208.413C513.258 208.375 513.273 208.337 513.301 208.31C513.328 208.282 513.365 208.267 513.404 208.267H526.103C526.142 208.267 526.179 208.282 526.207 208.31C526.234 208.337 526.25 208.375 526.25 208.413C526.25 208.452 526.234 208.49 526.207 208.517C526.179 208.545 526.142 208.56 526.103 208.56Z" fill="#0CBC8B"/>
          <path d="M532.918 208.56H529.026C528.987 208.56 528.95 208.545 528.922 208.517C528.894 208.49 528.879 208.452 528.879 208.413C528.879 208.375 528.894 208.337 528.922 208.31C528.95 208.282 528.987 208.267 529.026 208.267H532.918C532.957 208.267 532.994 208.282 533.022 208.31C533.049 208.337 533.065 208.375 533.065 208.413C533.065 208.452 533.049 208.49 533.022 208.517C532.994 208.545 532.957 208.56 532.918 208.56Z" fill="#292A2E"/>
          <path d="M519.033 213.855H488.283C488.264 213.856 488.244 213.853 488.225 213.846C488.207 213.839 488.19 213.828 488.176 213.814C488.162 213.801 488.15 213.784 488.143 213.766C488.135 213.748 488.131 213.728 488.131 213.709C488.131 213.689 488.135 213.669 488.143 213.651C488.15 213.633 488.162 213.617 488.176 213.603C488.19 213.589 488.207 213.579 488.225 213.572C488.244 213.565 488.264 213.561 488.283 213.562H519.033C519.052 213.561 519.072 213.565 519.091 213.572C519.109 213.579 519.126 213.589 519.14 213.603C519.154 213.617 519.166 213.633 519.173 213.651C519.181 213.669 519.185 213.689 519.185 213.709C519.185 213.728 519.181 213.748 519.173 213.766C519.166 213.784 519.154 213.801 519.14 213.814C519.126 213.828 519.109 213.839 519.091 213.846C519.072 213.853 519.052 213.856 519.033 213.855Z" fill="#292A2E"/>
          <path d="M526.103 213.855H522.211C522.191 213.856 522.172 213.853 522.153 213.846C522.135 213.839 522.118 213.828 522.104 213.814C522.089 213.801 522.078 213.784 522.07 213.766C522.063 213.748 522.059 213.728 522.059 213.709C522.059 213.689 522.063 213.669 522.07 213.651C522.078 213.633 522.089 213.617 522.104 213.603C522.118 213.589 522.135 213.579 522.153 213.572C522.172 213.565 522.191 213.561 522.211 213.562H526.103C526.123 213.561 526.143 213.565 526.161 213.572C526.18 213.579 526.196 213.589 526.211 213.603C526.225 213.617 526.236 213.633 526.244 213.651C526.252 213.669 526.256 213.689 526.256 213.709C526.256 213.728 526.252 213.748 526.244 213.766C526.236 213.784 526.225 213.801 526.211 213.814C526.196 213.828 526.18 213.839 526.161 213.846C526.143 213.853 526.123 213.856 526.103 213.855Z" fill="#367CFF"/>
          <path d="M491.589 211.208H488.283C488.244 211.208 488.207 211.192 488.179 211.165C488.152 211.137 488.136 211.1 488.136 211.061C488.136 211.022 488.152 210.985 488.179 210.957C488.207 210.93 488.244 210.914 488.283 210.914H491.589C491.628 210.914 491.665 210.93 491.692 210.957C491.72 210.985 491.735 211.022 491.735 211.061C491.735 211.1 491.72 211.137 491.692 211.165C491.665 211.192 491.628 211.208 491.589 211.208Z" fill="#0CBC8B"/>
          <path d="M517.298 211.208H494.766C494.727 211.208 494.69 211.192 494.662 211.165C494.635 211.137 494.619 211.1 494.619 211.061C494.619 211.022 494.635 210.985 494.662 210.957C494.69 210.93 494.727 210.914 494.766 210.914H517.298C517.337 210.914 517.374 210.93 517.402 210.957C517.429 210.985 517.445 211.022 517.445 211.061C517.445 211.1 517.429 211.137 517.402 211.165C517.374 211.192 517.337 211.208 517.298 211.208Z" fill="#367CFF"/>
          <path d="M532.943 211.208H520.832C520.793 211.208 520.756 211.192 520.728 211.165C520.701 211.137 520.685 211.1 520.685 211.061C520.685 211.022 520.701 210.985 520.728 210.957C520.756 210.93 520.793 210.914 520.832 210.914H532.943C532.982 210.914 533.019 210.93 533.047 210.957C533.074 210.985 533.09 211.022 533.09 211.061C533.09 211.1 533.074 211.137 533.047 211.165C533.019 211.192 532.982 211.208 532.943 211.208Z" fill="#292A2E"/>
          <path d="M510.227 216.502H488.283C488.244 216.502 488.207 216.487 488.179 216.459C488.152 216.432 488.136 216.394 488.136 216.356C488.136 216.317 488.152 216.279 488.179 216.252C488.207 216.224 488.244 216.209 488.283 216.209H510.227C510.266 216.209 510.303 216.224 510.331 216.252C510.358 216.279 510.374 216.317 510.374 216.356C510.374 216.394 510.358 216.432 510.331 216.459C510.303 216.487 510.266 216.502 510.227 216.502Z" fill="#292A2E"/>
          <path d="M520.232 216.502H513.405C513.366 216.502 513.328 216.487 513.301 216.459C513.273 216.432 513.258 216.394 513.258 216.356C513.258 216.317 513.273 216.279 513.301 216.252C513.328 216.224 513.366 216.209 513.405 216.209H520.232C520.271 216.209 520.309 216.224 520.336 216.252C520.364 216.279 520.379 216.317 520.379 216.356C520.379 216.394 520.364 216.432 520.336 216.459C520.309 216.487 520.271 216.502 520.232 216.502Z" fill="#0CBC8B"/>
          <path d="M532.918 216.502H523.155C523.116 216.502 523.078 216.487 523.051 216.459C523.023 216.432 523.008 216.394 523.008 216.356C523.008 216.317 523.023 216.279 523.051 216.252C523.078 216.224 523.116 216.209 523.155 216.209H532.918C532.957 216.209 532.994 216.224 533.021 216.252C533.049 216.279 533.064 216.317 533.064 216.356C533.064 216.394 533.049 216.432 533.021 216.459C532.994 216.487 532.957 216.502 532.918 216.502Z" fill="#292A2E"/>
          <path d="M491.589 219.151H488.283C488.244 219.151 488.207 219.135 488.179 219.108C488.152 219.08 488.136 219.043 488.136 219.004C488.136 218.965 488.152 218.928 488.179 218.9C488.207 218.873 488.244 218.857 488.283 218.857H491.589C491.628 218.857 491.665 218.873 491.692 218.9C491.72 218.928 491.735 218.965 491.735 219.004C491.735 219.043 491.72 219.08 491.692 219.108C491.665 219.135 491.628 219.151 491.589 219.151Z" fill="#367CFF"/>
          <path d="M517.298 219.151H494.766C494.727 219.151 494.69 219.135 494.662 219.108C494.635 219.08 494.619 219.043 494.619 219.004C494.619 218.965 494.635 218.928 494.662 218.9C494.69 218.873 494.727 218.857 494.766 218.857H517.298C517.337 218.857 517.374 218.873 517.402 218.9C517.429 218.928 517.445 218.965 517.445 219.004C517.445 219.043 517.429 219.08 517.402 219.108C517.374 219.135 517.337 219.151 517.298 219.151Z" fill="#0CBC8B"/>
          <path d="M509.64 229.741H487.696C487.657 229.741 487.62 229.726 487.592 229.698C487.565 229.671 487.549 229.634 487.549 229.595C487.549 229.556 487.565 229.518 487.592 229.491C487.62 229.463 487.657 229.448 487.696 229.448H509.64C509.679 229.448 509.716 229.463 509.744 229.491C509.771 229.518 509.787 229.556 509.787 229.595C509.787 229.634 509.771 229.671 509.744 229.698C509.716 229.726 509.679 229.741 509.64 229.741Z" fill="#292A2E"/>
          <path d="M525.516 229.741H512.817C512.778 229.741 512.741 229.726 512.714 229.698C512.686 229.671 512.671 229.634 512.671 229.595C512.671 229.556 512.686 229.518 512.714 229.491C512.741 229.463 512.778 229.448 512.817 229.448H525.516C525.555 229.448 525.592 229.463 525.62 229.491C525.647 229.518 525.663 229.556 525.663 229.595C525.663 229.634 525.647 229.671 525.62 229.698C525.592 229.726 525.555 229.741 525.516 229.741Z" fill="#367CFF"/>
          <path d="M496.873 227.094H487.696C487.657 227.094 487.62 227.078 487.592 227.051C487.565 227.023 487.549 226.986 487.549 226.947C487.549 226.908 487.565 226.871 487.592 226.843C487.62 226.816 487.657 226.8 487.696 226.8H496.873C496.912 226.8 496.949 226.816 496.977 226.843C497.004 226.871 497.02 226.908 497.02 226.947C497.02 226.986 497.004 227.023 496.977 227.051C496.949 227.078 496.912 227.094 496.873 227.094Z" fill="#0CBC8B"/>
          <path d="M516.71 227.094H500.049C500.01 227.094 499.973 227.078 499.946 227.051C499.918 227.023 499.903 226.986 499.903 226.947C499.903 226.908 499.918 226.871 499.946 226.843C499.973 226.816 500.01 226.8 500.049 226.8H516.71C516.749 226.8 516.786 226.816 516.814 226.843C516.841 226.871 516.857 226.908 516.857 226.947C516.857 226.986 516.841 227.023 516.814 227.051C516.786 227.078 516.749 227.094 516.71 227.094Z" fill="#367CFF"/>
          <path d="M532.356 227.094H520.245C520.206 227.094 520.169 227.078 520.141 227.051C520.114 227.023 520.098 226.986 520.098 226.947C520.098 226.908 520.114 226.871 520.141 226.843C520.169 226.816 520.206 226.8 520.245 226.8H532.356C532.395 226.8 532.432 226.816 532.46 226.843C532.487 226.871 532.503 226.908 532.503 226.947C532.503 226.986 532.487 227.023 532.46 227.051C532.432 227.078 532.395 227.094 532.356 227.094Z" fill="#292A2E"/>
          <path d="M518.446 235.037H487.696C487.657 235.037 487.62 235.021 487.592 234.994C487.565 234.966 487.549 234.929 487.549 234.89C487.549 234.851 487.565 234.814 487.592 234.786C487.62 234.758 487.657 234.743 487.696 234.743H518.446C518.485 234.743 518.522 234.758 518.55 234.786C518.577 234.814 518.593 234.851 518.593 234.89C518.593 234.929 518.577 234.966 518.55 234.994C518.522 235.021 518.485 235.037 518.446 235.037Z" fill="#367CFF"/>
          <path d="M527.497 235.037H521.624C521.585 235.037 521.547 235.021 521.52 234.994C521.492 234.966 521.477 234.929 521.477 234.89C521.477 234.851 521.492 234.814 521.52 234.786C521.547 234.758 521.585 234.743 521.624 234.743H527.497C527.536 234.743 527.573 234.758 527.601 234.786C527.628 234.814 527.644 234.851 527.644 234.89C527.644 234.929 527.628 234.966 527.601 234.994C527.573 235.021 527.536 235.037 527.497 235.037Z" fill="#292A2E"/>
          <path d="M491.001 232.389H487.696C487.677 232.39 487.657 232.386 487.638 232.379C487.62 232.372 487.603 232.362 487.589 232.348C487.575 232.334 487.563 232.318 487.556 232.3C487.548 232.281 487.544 232.262 487.544 232.242C487.544 232.222 487.548 232.203 487.556 232.185C487.563 232.167 487.575 232.15 487.589 232.137C487.603 232.123 487.62 232.112 487.638 232.105C487.657 232.098 487.677 232.095 487.696 232.096H491.001C491.021 232.095 491.041 232.098 491.059 232.105C491.078 232.112 491.095 232.123 491.109 232.137C491.123 232.15 491.134 232.167 491.142 232.185C491.15 232.203 491.154 232.222 491.154 232.242C491.154 232.262 491.15 232.281 491.142 232.3C491.134 232.318 491.123 232.334 491.109 232.348C491.095 232.362 491.078 232.372 491.059 232.379C491.041 232.386 491.021 232.39 491.001 232.389Z" fill="#367CFF"/>
          <path d="M516.71 232.389H494.179C494.159 232.39 494.14 232.386 494.121 232.379C494.103 232.372 494.086 232.362 494.072 232.348C494.057 232.334 494.046 232.318 494.038 232.3C494.031 232.281 494.027 232.262 494.027 232.242C494.027 232.222 494.031 232.203 494.038 232.185C494.046 232.167 494.057 232.15 494.072 232.137C494.086 232.123 494.103 232.112 494.121 232.105C494.14 232.098 494.159 232.095 494.179 232.096H516.71C516.73 232.095 516.749 232.098 516.768 232.105C516.786 232.112 516.803 232.123 516.817 232.137C516.832 232.15 516.843 232.167 516.851 232.185C516.858 232.203 516.862 232.222 516.862 232.242C516.862 232.262 516.858 232.281 516.851 232.3C516.843 232.318 516.832 232.334 516.817 232.348C516.803 232.362 516.786 232.372 516.768 232.379C516.749 232.386 516.73 232.39 516.71 232.389Z" fill="#292A2E"/>
          <path d="M532.356 232.389H520.245C520.225 232.39 520.206 232.386 520.187 232.379C520.169 232.372 520.152 232.362 520.138 232.348C520.124 232.334 520.112 232.318 520.105 232.3C520.097 232.281 520.093 232.262 520.093 232.242C520.093 232.222 520.097 232.203 520.105 232.185C520.112 232.167 520.124 232.15 520.138 232.137C520.152 232.123 520.169 232.112 520.187 232.105C520.206 232.098 520.225 232.095 520.245 232.096H532.356C532.376 232.095 532.396 232.098 532.414 232.105C532.432 232.112 532.449 232.123 532.463 232.137C532.478 232.15 532.489 232.167 532.497 232.185C532.504 232.203 532.508 232.222 532.508 232.242C532.508 232.262 532.504 232.281 532.497 232.3C532.489 232.318 532.478 232.334 532.463 232.348C532.449 232.362 532.432 232.372 532.414 232.379C532.396 232.386 532.376 232.39 532.356 232.389Z" fill="#0CBC8B"/>
          <path d="M509.64 237.684H487.696C487.657 237.684 487.62 237.669 487.592 237.641C487.565 237.614 487.549 237.576 487.549 237.537C487.549 237.499 487.565 237.461 487.592 237.434C487.62 237.406 487.657 237.391 487.696 237.391H509.64C509.679 237.391 509.716 237.406 509.744 237.434C509.771 237.461 509.787 237.499 509.787 237.537C509.787 237.576 509.771 237.614 509.744 237.641C509.716 237.669 509.679 237.684 509.64 237.684Z" fill="#0CBC8B"/>
          <path d="M519.645 237.684H512.818C512.779 237.684 512.741 237.669 512.714 237.641C512.686 237.614 512.671 237.576 512.671 237.537C512.671 237.499 512.686 237.461 512.714 237.434C512.741 237.406 512.779 237.391 512.818 237.391H519.645C519.684 237.391 519.722 237.406 519.749 237.434C519.777 237.461 519.792 237.499 519.792 237.537C519.792 237.576 519.777 237.614 519.749 237.641C519.722 237.669 519.684 237.684 519.645 237.684Z" fill="#292A2E"/>
          <path d="M532.331 237.684H522.568C522.529 237.684 522.491 237.669 522.464 237.641C522.436 237.614 522.421 237.576 522.421 237.537C522.421 237.499 522.436 237.461 522.464 237.434C522.491 237.406 522.529 237.391 522.568 237.391H532.33C532.369 237.391 532.407 237.406 532.434 237.434C532.462 237.461 532.477 237.499 532.477 237.537C532.477 237.576 532.462 237.614 532.434 237.641C532.407 237.669 532.37 237.684 532.331 237.684Z" fill="#367CFF"/>
          <path d="M477.671 239.13C477.651 239.13 477.632 239.127 477.615 239.119C477.597 239.112 477.581 239.101 477.567 239.088C477.553 239.074 477.542 239.058 477.535 239.04C477.528 239.022 477.524 239.003 477.524 238.984V198.643C477.524 198.605 477.539 198.567 477.567 198.54C477.594 198.512 477.632 198.497 477.671 198.497C477.71 198.497 477.747 198.512 477.775 198.54C477.802 198.567 477.817 198.605 477.817 198.643V238.984C477.817 239.003 477.814 239.022 477.806 239.04C477.799 239.058 477.788 239.074 477.774 239.088C477.761 239.101 477.745 239.112 477.727 239.119C477.709 239.127 477.69 239.13 477.671 239.13Z" fill="#292A2E"/>
          <path d="M470.958 200.477H464.601C464.563 200.477 464.525 200.461 464.498 200.434C464.47 200.406 464.455 200.369 464.455 200.33C464.455 200.291 464.47 200.253 464.498 200.226C464.525 200.198 464.563 200.183 464.601 200.183H470.957C470.996 200.183 471.033 200.198 471.061 200.226C471.088 200.253 471.104 200.291 471.104 200.33C471.104 200.369 471.088 200.406 471.061 200.434C471.033 200.461 470.997 200.477 470.958 200.477Z" fill="#292A2E"/>
          <path d="M469.044 203.371H464.602C464.582 203.372 464.562 203.369 464.544 203.362C464.525 203.355 464.509 203.344 464.494 203.33C464.48 203.317 464.469 203.3 464.461 203.282C464.453 203.264 464.449 203.244 464.449 203.225C464.449 203.205 464.453 203.185 464.461 203.167C464.469 203.149 464.48 203.133 464.494 203.119C464.509 203.105 464.525 203.095 464.544 203.087C464.562 203.08 464.582 203.077 464.602 203.078H469.043C469.081 203.079 469.117 203.095 469.143 203.123C469.169 203.15 469.184 203.187 469.184 203.225C469.184 203.263 469.169 203.299 469.143 203.326C469.117 203.354 469.082 203.37 469.044 203.371Z" fill="#292A2E"/>
          <path d="M472.949 206.266H464.602C464.563 206.266 464.525 206.251 464.498 206.223C464.47 206.196 464.455 206.158 464.455 206.119C464.455 206.08 464.47 206.043 464.498 206.016C464.525 205.988 464.563 205.973 464.602 205.973H472.948C472.987 205.973 473.024 205.988 473.052 206.016C473.079 206.043 473.095 206.08 473.095 206.119C473.095 206.158 473.079 206.196 473.052 206.223C473.024 206.251 472.988 206.266 472.949 206.266Z" fill="#292A2E"/>
          <path d="M474.506 209.161H467.538C467.518 209.162 467.498 209.158 467.48 209.151C467.462 209.144 467.445 209.134 467.43 209.12C467.416 209.106 467.405 209.09 467.397 209.072C467.39 209.054 467.386 209.034 467.386 209.014C467.386 208.995 467.39 208.975 467.397 208.957C467.405 208.939 467.416 208.922 467.43 208.909C467.445 208.895 467.462 208.884 467.48 208.877C467.498 208.87 467.518 208.867 467.538 208.868H474.506C474.525 208.867 474.545 208.87 474.564 208.877C474.582 208.884 474.599 208.895 474.613 208.909C474.627 208.922 474.639 208.939 474.646 208.957C474.654 208.975 474.658 208.995 474.658 209.014C474.658 209.034 474.654 209.054 474.646 209.072C474.639 209.09 474.627 209.106 474.613 209.12C474.599 209.134 474.582 209.144 474.564 209.151C474.545 209.158 474.525 209.162 474.506 209.161Z" fill="#292A2E"/>
          <path d="M471.137 212.056H467.538C467.499 212.056 467.461 212.04 467.434 212.013C467.406 211.985 467.391 211.948 467.391 211.909C467.391 211.87 467.406 211.833 467.434 211.805C467.461 211.778 467.499 211.762 467.538 211.762H471.137C471.175 211.762 471.213 211.778 471.24 211.805C471.268 211.833 471.283 211.87 471.283 211.909C471.283 211.948 471.268 211.985 471.24 212.013C471.213 212.04 471.175 212.056 471.137 212.056Z" fill="#292A2E"/>
          <path d="M473.893 214.951H467.538C467.499 214.951 467.461 214.935 467.434 214.908C467.406 214.88 467.391 214.843 467.391 214.804C467.391 214.765 467.406 214.728 467.434 214.7C467.461 214.673 467.499 214.657 467.538 214.657H473.893C473.932 214.657 473.969 214.673 473.997 214.7C474.024 214.728 474.04 214.765 474.04 214.804C474.04 214.843 474.024 214.88 473.997 214.908C473.969 214.935 473.932 214.951 473.893 214.951Z" fill="#292A2E"/>
          <path d="M469.503 217.846H464.602C464.563 217.846 464.525 217.83 464.498 217.803C464.47 217.775 464.455 217.738 464.455 217.699C464.455 217.66 464.47 217.622 464.498 217.595C464.525 217.567 464.563 217.552 464.602 217.552H469.502C469.541 217.552 469.578 217.567 469.606 217.595C469.634 217.622 469.649 217.66 469.649 217.699C469.649 217.738 469.634 217.775 469.606 217.803C469.578 217.83 469.542 217.846 469.503 217.846Z" fill="#292A2E"/>
          <path d="M467.818 220.74H464.602C464.563 220.74 464.525 220.725 464.498 220.697C464.47 220.67 464.455 220.633 464.455 220.594C464.455 220.555 464.47 220.517 464.498 220.49C464.525 220.462 464.563 220.447 464.602 220.447H467.817C467.856 220.447 467.894 220.462 467.921 220.49C467.949 220.517 467.964 220.555 467.964 220.594C467.964 220.633 467.949 220.67 467.921 220.697C467.894 220.725 467.857 220.74 467.818 220.74Z" fill="#292A2E"/>
          <path d="M480.71 199.856V199.909L482.545 200.589C482.571 200.6 482.593 200.618 482.609 200.642C482.624 200.666 482.633 200.693 482.632 200.722V200.772C482.633 200.794 482.628 200.815 482.617 200.835C482.607 200.855 482.592 200.871 482.573 200.883C482.554 200.896 482.533 200.904 482.51 200.907C482.488 200.909 482.465 200.906 482.444 200.898L480.372 200.087C480.346 200.077 480.324 200.059 480.308 200.036C480.292 200.013 480.284 199.986 480.284 199.958V199.809C480.283 199.781 480.292 199.753 480.307 199.73C480.323 199.707 480.346 199.69 480.372 199.68L482.444 198.867C482.461 198.862 482.479 198.858 482.497 198.858C482.524 198.859 482.55 198.867 482.573 198.882C482.592 198.895 482.607 198.912 482.617 198.932C482.628 198.952 482.633 198.974 482.632 198.996V199.046C482.633 199.074 482.625 199.102 482.609 199.125C482.593 199.148 482.571 199.166 482.545 199.175L480.71 199.856Z" fill="#367CFF"/>
          <path d="M484.347 198.268L483.249 201.629C483.24 201.657 483.223 201.681 483.199 201.699C483.175 201.716 483.146 201.725 483.117 201.725C483.096 201.726 483.074 201.721 483.055 201.711C483.036 201.701 483.02 201.687 483.008 201.67C482.995 201.652 482.986 201.632 482.982 201.611C482.978 201.589 482.979 201.567 482.985 201.546L484.082 198.188C484.092 198.16 484.11 198.135 484.134 198.117C484.158 198.1 484.188 198.09 484.218 198.089C484.239 198.089 484.26 198.094 484.279 198.104C484.297 198.114 484.314 198.128 484.326 198.145C484.339 198.162 484.348 198.183 484.351 198.204C484.355 198.225 484.353 198.247 484.347 198.268Z" fill="#367CFF"/>
          <path d="M487.042 199.809V199.958C487.043 199.986 487.035 200.013 487.02 200.036C487.005 200.059 486.983 200.077 486.957 200.087L484.882 200.898C484.861 200.906 484.839 200.909 484.817 200.907C484.795 200.904 484.774 200.896 484.756 200.883C484.737 200.871 484.722 200.855 484.711 200.835C484.7 200.816 484.694 200.794 484.694 200.772V200.722C484.694 200.693 484.702 200.665 484.719 200.641C484.735 200.617 484.758 200.599 484.785 200.589L486.62 199.909V199.856L484.785 199.175C484.758 199.166 484.735 199.148 484.718 199.125C484.702 199.102 484.694 199.074 484.694 199.045V198.996C484.694 198.973 484.7 198.951 484.711 198.931C484.721 198.911 484.737 198.894 484.756 198.881C484.779 198.866 484.805 198.858 484.832 198.858C484.849 198.857 484.866 198.86 484.882 198.867L486.957 199.679C486.983 199.689 487.005 199.707 487.02 199.73C487.036 199.754 487.043 199.781 487.042 199.809Z" fill="#367CFF"/>
          <path d="M411.656 293.521C410.46 293.52 409.28 293.231 408.22 292.677C407.159 292.123 406.247 291.321 405.563 290.34C404.878 289.358 404.441 288.225 404.289 287.038C404.137 285.851 404.273 284.645 404.687 283.522C405.107 282.382 415.885 254.56 417.762 249.725L430.732 257.273C429.677 259.991 425.855 270.297 422.785 278.599L427.886 278.044L429.491 291.627L412.46 293.477C412.193 293.506 411.925 293.521 411.656 293.521Z" fill="#34849B"/>
          <path d="M454.08 243.94C454.034 243.934 452.786 248.631 443.045 247.9C436.302 247.395 434.657 242.805 434.503 242.805C435.23 242.65 436.411 242.49 436.734 242.318C437.795 241.747 438.569 241.052 438.958 239.562C439.263 238.396 439.418 233.909 439.418 231.658L449.795 233.989C449.65 236.529 448.638 242.417 452.186 243.459C452.776 243.63 453.412 243.789 454.08 243.94Z" fill="#E98862"/>
          <path d="M449.436 238.981C445.345 239.304 440.09 237.577 439.092 232.119L438.191 227.195C437.193 221.737 439.25 216.788 444.389 215.848C449.528 214.908 454.178 218.63 455.176 224.088L455.575 226.268C455.958 228.362 456.734 238.406 449.436 238.981Z" fill="#E98862"/>
          <path d="M430.072 243.56C426.396 243.832 422.647 244.23 419.942 246.735C416.685 249.751 416.094 253.459 418.173 263.664C419.961 272.445 419.251 276.282 420.448 292.486C420.483 292.963 420.558 293.95 420.558 293.95L459.883 293.885C459.883 293.885 463.567 272.387 465.602 262.472C467.149 254.934 471.212 245.783 454.079 243.939C454.035 243.934 440.294 242.801 430.072 243.56Z" fill="#34849B"/>
          <path d="M420.559 294.05C420.534 294.05 420.509 294.04 420.49 294.022C420.472 294.004 420.461 293.98 420.46 293.954L419.228 261.965C419.227 261.952 419.229 261.939 419.234 261.927C419.238 261.915 419.245 261.904 419.254 261.894C419.263 261.884 419.274 261.877 419.285 261.871C419.297 261.866 419.31 261.863 419.323 261.862C419.336 261.861 419.349 261.863 419.362 261.867C419.374 261.872 419.386 261.879 419.395 261.887C419.405 261.896 419.413 261.907 419.418 261.919C419.423 261.931 419.426 261.944 419.426 261.958L420.658 293.947C420.659 293.973 420.65 293.999 420.632 294.018C420.614 294.037 420.589 294.049 420.563 294.05L420.559 294.05Z" fill="#0C0C0C"/>
          <path d="M486.422 248.784C486.483 248.648 486.571 248.526 486.682 248.425C486.792 248.325 486.922 248.249 487.064 248.202C487.205 248.155 487.355 248.138 487.503 248.152C487.652 248.166 487.796 248.211 487.926 248.283C488.162 248.425 488.338 248.649 488.418 248.913C488.498 249.176 488.478 249.46 488.361 249.71L487.768 251.038L491.549 247.715C491.963 247.338 492.712 247.14 493.105 247.632C493.268 247.812 493.365 248.041 493.381 248.284C493.397 248.526 493.331 248.766 493.193 248.966C493.197 248.969 493.201 248.972 493.205 248.976C493.208 248.979 493.21 248.983 493.212 248.987L493.85 248.406C493.968 248.298 494.109 248.218 494.262 248.172C494.415 248.126 494.576 248.114 494.734 248.138C494.893 248.162 495.043 248.221 495.176 248.311C495.308 248.4 495.419 248.519 495.5 248.656C495.623 248.876 495.667 249.131 495.624 249.38C495.582 249.628 495.455 249.854 495.266 250.02L494.994 250.267C494.998 250.279 494.999 250.29 494.999 250.302C495.221 250.177 495.48 250.136 495.73 250.185C495.98 250.234 496.205 250.371 496.363 250.57C496.53 250.794 496.607 251.072 496.578 251.349C496.549 251.626 496.417 251.883 496.207 252.067L495.533 252.681C495.548 252.679 495.564 252.681 495.579 252.686C495.594 252.692 495.607 252.7 495.618 252.712C495.63 252.726 495.638 252.744 495.64 252.763C495.868 252.707 496.109 252.727 496.325 252.822C496.541 252.916 496.72 253.079 496.834 253.284C496.95 253.503 496.988 253.754 496.944 253.998C496.899 254.241 496.773 254.462 496.587 254.625L490.894 259.808C490.098 260.533 489.103 261.004 488.037 261.16C486.972 261.315 485.884 261.15 484.913 260.683C484.076 260.281 483.428 259.569 483.108 258.697C482.788 257.825 482.821 256.863 483.199 256.015L486.422 248.784Z" fill="#E98862"/>
          <path d="M489.466 252.273C489.483 252.293 489.507 252.304 489.533 252.305C489.559 252.307 489.585 252.298 489.604 252.281L493.196 249.115C493.216 249.098 493.228 249.073 493.229 249.047C493.231 249.021 493.223 248.996 493.205 248.976C493.188 248.956 493.163 248.943 493.137 248.942C493.11 248.94 493.085 248.949 493.065 248.966L489.473 252.132C489.463 252.14 489.456 252.151 489.45 252.163C489.444 252.174 489.441 252.187 489.44 252.2C489.439 252.213 489.441 252.226 489.445 252.238C489.449 252.251 489.456 252.262 489.464 252.272L489.466 252.273Z" fill="#0C0C0C"/>
          <path d="M490.818 253.896C490.836 253.915 490.86 253.927 490.886 253.928C490.912 253.929 490.937 253.92 490.957 253.903L494.965 250.37C494.975 250.362 494.983 250.351 494.989 250.34C494.994 250.328 494.998 250.315 494.999 250.302C494.999 250.289 494.998 250.276 494.993 250.264C494.989 250.252 494.983 250.24 494.974 250.231C494.956 250.212 494.932 250.2 494.906 250.198C494.88 250.197 494.854 250.205 494.834 250.222L490.826 253.754C490.816 253.763 490.808 253.774 490.802 253.785C490.796 253.797 490.793 253.81 490.792 253.823C490.791 253.836 490.793 253.849 490.797 253.861C490.802 253.873 490.808 253.885 490.817 253.894L490.818 253.896Z" fill="#0C0C0C"/>
          <path d="M492.273 255.662C492.29 255.681 492.315 255.692 492.341 255.694C492.367 255.695 492.392 255.686 492.411 255.669L495.609 252.851C495.629 252.834 495.641 252.809 495.642 252.783C495.644 252.757 495.635 252.731 495.618 252.711C495.6 252.691 495.576 252.679 495.549 252.678C495.523 252.676 495.497 252.685 495.478 252.702L492.28 255.52C492.27 255.529 492.262 255.539 492.257 255.551C492.251 255.563 492.248 255.576 492.247 255.589C492.246 255.602 492.248 255.615 492.252 255.627C492.256 255.639 492.263 255.651 492.272 255.66L492.273 255.662Z" fill="#0C0C0C"/>
          <path d="M453.228 233.388C452.523 229.848 452.2 227.486 452.237 224.995C453.23 223.254 452.969 221.257 452.743 220.393C453.027 220.555 453.325 220.693 453.632 220.805C453.775 220.855 453.93 220.863 454.077 220.828C454.224 220.793 454.359 220.717 454.464 220.608C454.57 220.499 454.642 220.363 454.672 220.215C454.703 220.067 454.691 219.913 454.637 219.771C453.869 217.783 451.895 213.919 447.821 212.625C446.795 212.226 444.176 211.721 440.699 212.198C437.742 212.604 431.047 215.41 430.005 223.617V223.621C429.971 223.893 428.676 230.861 427.281 234.489C425.405 239.366 422.771 240.882 422.838 246.509C422.924 253.747 436.23 254.71 444.257 254.169C452.285 253.628 456.764 250.988 456.822 245.772C456.885 239.927 454.637 240.469 453.228 233.388Z" fill="#0A0A0A"/>
          <path d="M453.23 230.878C451.669 231.163 450.097 229.724 449.812 228.162C449.526 226.601 450.238 224.995 452.237 224.995L453.23 230.878Z" fill="#E98862"/>
          <path d="M470.028 292.397C468.457 292.397 466.927 291.899 465.656 290.975C464.386 290.051 463.441 288.748 462.958 287.253L452.636 255.331L466.773 250.76L472.201 267.55L481.582 252.632L494.161 260.541L476.315 288.922C475.646 289.986 474.719 290.862 473.619 291.47C472.52 292.078 471.284 292.396 470.028 292.397Z" fill="#34849B"/>
          <path d="M461.699 283.582C461.693 283.582 461.687 283.582 461.681 283.581C461.655 283.576 461.632 283.561 461.617 283.539C461.603 283.518 461.597 283.491 461.602 283.465L465.11 264.419C465.113 264.406 465.118 264.394 465.125 264.383C465.132 264.372 465.141 264.363 465.152 264.355C465.162 264.348 465.174 264.343 465.187 264.34C465.2 264.337 465.213 264.337 465.226 264.34C465.239 264.342 465.251 264.347 465.262 264.354C465.273 264.361 465.282 264.37 465.289 264.381C465.297 264.392 465.302 264.404 465.305 264.416C465.307 264.429 465.308 264.442 465.305 264.455L461.796 283.502C461.792 283.525 461.78 283.545 461.762 283.56C461.745 283.574 461.722 283.582 461.699 283.582Z" fill="#0C0C0C"/>
          <path d="M473.464 272.046C473.442 272.046 473.421 272.038 473.404 272.025C473.386 272.012 473.374 271.993 473.368 271.972L472.199 267.469C472.193 267.444 472.197 267.417 472.21 267.394C472.223 267.372 472.245 267.355 472.27 267.349C472.296 267.342 472.323 267.346 472.345 267.359C472.368 267.372 472.385 267.394 472.391 267.42L473.56 271.922C473.564 271.936 473.564 271.952 473.561 271.967C473.558 271.981 473.552 271.995 473.542 272.007C473.533 272.019 473.521 272.029 473.508 272.036C473.494 272.042 473.479 272.046 473.464 272.046Z" fill="#0C0C0C"/>
          <path d="M552.981 271.291H514.25C514.008 271.291 513.768 271.239 513.547 271.14C513.326 271.04 513.129 270.895 512.968 270.714C512.807 270.533 512.686 270.319 512.614 270.088C512.541 269.857 512.519 269.613 512.548 269.372L513.584 260.724C513.634 260.308 513.835 259.924 514.148 259.646C514.462 259.368 514.867 259.214 515.286 259.214H552.981C553.436 259.214 553.872 259.395 554.193 259.716C554.515 260.038 554.695 260.474 554.695 260.928V269.576C554.695 270.031 554.515 270.467 554.193 270.789C553.872 271.11 553.436 271.291 552.981 271.291Z" fill="#292A2E"/>
          <path d="M524.727 271.372L526.383 265.016C526.42 264.876 526.427 264.73 526.404 264.588C526.381 264.445 526.328 264.309 526.25 264.188C526.171 264.067 526.068 263.963 525.948 263.884C525.827 263.805 525.691 263.752 525.549 263.728C524.37 263.505 524.226 265.129 524.003 265.907L523.153 261.108C523.023 259.814 521.283 259.772 521.154 261.061C521.145 261.06 521.136 261.061 521.127 261.066C521.168 258.708 518.558 258.891 519.005 260.957C518.996 260.963 518.988 260.971 518.981 260.98C518.545 259.837 516.759 260.372 517 261.584L517.138 262.456C517.13 262.447 517.12 262.44 517.109 262.435C517.098 262.43 517.086 262.428 517.074 262.427C517.062 262.427 517.05 262.429 517.038 262.434C517.027 262.438 517.017 262.445 517.008 262.453C516.409 261.604 514.94 262.227 515.166 263.289L516.338 270.649C517.009 275.409 524.014 277.006 524.727 271.372Z" fill="#E98862"/>
          <path d="M521.973 265.815C521.716 265.79 521.165 261.312 521.062 261.172C521.058 261.147 521.063 261.121 521.078 261.1C521.093 261.079 521.115 261.065 521.14 261.061C521.165 261.056 521.191 261.062 521.212 261.077C521.232 261.091 521.247 261.114 521.251 261.139L522.052 265.703C522.055 265.716 522.054 265.729 522.052 265.741C522.049 265.753 522.044 265.765 522.036 265.776C522.029 265.786 522.019 265.795 522.009 265.801C521.998 265.808 521.986 265.813 521.973 265.815Z" fill="#0C0C0C"/>
          <path d="M519.969 266.224C519.944 266.228 519.919 266.222 519.898 266.207C519.878 266.192 519.864 266.17 519.86 266.145L518.964 261.051C518.96 261.026 518.966 261 518.98 260.979C518.995 260.958 519.017 260.944 519.042 260.94C519.305 260.916 519.944 266.005 520.049 266.112C520.052 266.125 520.051 266.138 520.048 266.15C520.046 266.163 520.04 266.175 520.033 266.185C520.025 266.196 520.016 266.204 520.005 266.211C519.994 266.218 519.982 266.222 519.969 266.224Z" fill="#0C0C0C"/>
          <path d="M517.802 266.681C517.777 266.684 517.751 266.678 517.731 266.663C517.711 266.648 517.697 266.626 517.693 266.601L516.978 262.538C516.975 262.513 516.981 262.488 516.995 262.468C517.01 262.448 517.032 262.434 517.057 262.43C517.081 262.425 517.106 262.431 517.127 262.445C517.148 262.459 517.162 262.48 517.167 262.505L517.882 266.568C517.884 266.581 517.884 266.594 517.881 266.606C517.878 266.619 517.873 266.631 517.866 266.641C517.858 266.652 517.849 266.661 517.838 266.667C517.827 266.674 517.814 266.679 517.802 266.681Z" fill="#0C0C0C"/>
          <path d="M465.85 294.05H419.808L416.882 271.569C416.824 271.118 416.862 270.659 416.994 270.224C417.127 269.789 417.351 269.387 417.651 269.045C417.951 268.703 418.321 268.429 418.735 268.242C419.149 268.054 419.599 267.957 420.054 267.957H459.642C460.419 267.957 461.169 268.239 461.753 268.752C462.337 269.265 462.715 269.972 462.815 270.743L465.85 294.05Z" fill="white"/>
          <path d="M463.055 270.713C462.946 269.884 462.539 269.124 461.912 268.572C461.284 268.021 460.477 267.715 459.642 267.713H420.054C419.619 267.714 419.188 267.797 418.784 267.957C418.613 268.024 418.448 268.106 418.291 268.201C417.714 268.545 417.251 269.05 416.957 269.654C416.664 270.258 416.554 270.934 416.641 271.6L419.565 294.05H420.054L417.124 271.539C417.07 271.122 417.105 270.699 417.227 270.296C417.35 269.894 417.556 269.523 417.834 269.207C418.111 268.891 418.452 268.638 418.835 268.464C419.218 268.291 419.634 268.201 420.054 268.201H459.642C460.359 268.203 461.051 268.464 461.59 268.938C462.129 269.411 462.479 270.063 462.574 270.774L465.605 294.05H466.096L463.055 270.713Z" fill="#292A2E"/>
          <path d="M463.164 294.05H417.122L414.196 271.569C414.137 271.117 414.175 270.659 414.308 270.224C414.44 269.789 414.664 269.387 414.964 269.045C415.265 268.703 415.634 268.429 416.049 268.242C416.463 268.054 416.913 267.957 417.368 267.957H456.955C457.731 267.957 458.482 268.24 459.065 268.752C459.649 269.265 460.026 269.972 460.126 270.743L463.164 294.05Z" fill="#292A2E"/>
          <path d="M460.369 270.713C460.301 270.196 460.117 269.702 459.831 269.267C459.545 268.832 459.164 268.467 458.716 268.201C458.559 268.106 458.394 268.025 458.223 267.957C457.82 267.796 457.39 267.714 456.955 267.713H417.368C416.878 267.713 416.394 267.818 415.948 268.019C415.502 268.221 415.104 268.516 414.781 268.884C414.458 269.252 414.217 269.684 414.074 270.153C413.932 270.621 413.891 271.115 413.954 271.6L416.876 294.05H417.368L414.438 271.539C414.383 271.122 414.419 270.699 414.541 270.296C414.663 269.894 414.87 269.523 415.147 269.207C415.425 268.891 415.766 268.638 416.149 268.464C416.532 268.291 416.947 268.201 417.368 268.201H456.955C457.672 268.203 458.364 268.464 458.903 268.938C459.442 269.411 459.792 270.063 459.887 270.774L462.918 294.05H463.409L460.369 270.713Z" fill="#292A2E"/>
          <path d="M541.315 244.921C541.36 244.915 541.864 253.28 551.581 252.55C558.308 252.046 560.706 244.91 560.86 244.91C560.135 244.755 558.914 244.531 558.592 244.359C557.532 243.79 556.024 243.198 555.682 241.141C555.485 239.955 555.819 233.89 555.716 232.691L545.589 234.995C545.733 237.529 546.743 243.402 543.204 244.441C542.616 244.614 541.981 244.772 541.315 244.921Z" fill="#E98862"/>
          <path d="M545.874 238.947C549.952 239.261 555.187 237.531 556.172 232.09L557.061 227.18C558.047 221.738 555.988 216.809 550.864 215.882C545.741 214.953 541.113 218.671 540.127 224.112L539.733 226.286C539.611 227.035 539.54 227.791 539.521 228.549C539.455 230.553 539.362 233.601 540.353 235.84C541.29 237.954 543.27 238.746 545.874 238.947Z" fill="#E98862"/>
          <path d="M555.019 215.603C553.4 215.098 551.721 214.812 550.026 214.753C549.862 214.106 549.496 213.604 548.958 213.393C548.062 213.043 546.968 213.607 546.24 214.693C545.835 214.073 545.287 213.514 544.559 213.287C542.554 212.662 542.454 215.544 542.454 215.544C542.454 215.544 539.274 212.405 539.175 216.408C539.055 221.251 539.944 222.671 540.593 223.029C541.876 223.737 542.83 223.618 543.338 224.659C544.874 227.814 543.368 236.699 545.146 237.812C547.87 239.515 553.45 239.575 555.262 239.445C555.959 239.395 556.611 238.588 556.904 237.954C557.852 235.907 559.966 231.266 560.554 229.347C561.64 225.806 561.558 217.738 555.019 215.603Z" fill="#0C0C0C"/>
          <path d="M543.929 234.638C545.502 234.467 546.594 232.646 546.424 231.072C546.253 229.499 544.884 228.77 543.31 228.941L542.614 230.083L542.576 234.784L543.929 234.638Z" fill="#E98862"/>
          <path d="M570.206 292.738L570.255 292.741C570.255 292.741 570.22 291.801 570.206 292.738Z" fill="#333333"/>
          <path d="M527.346 263.428C527.653 267.037 529.147 289.546 529.442 293.99H570.137C570.367 289.982 571.399 272.456 572.271 264.617C573.103 257.138 574.736 253.393 573.539 251.182C571.583 247.568 566.239 245.479 562.596 244.986C560.371 244.685 559.912 244.469 559.005 244.469H543.337C541.847 244.469 532.333 245.905 530.382 247.339C524.984 251.308 526.694 255.782 527.346 263.428Z" fill="#036485"/>
          <path d="M578.826 293.755C580.023 293.755 581.202 293.465 582.263 292.912C583.324 292.358 584.236 291.556 584.92 290.574C585.605 289.592 586.042 288.459 586.194 287.272C586.347 286.084 586.21 284.878 585.796 283.755C585.375 282.615 575.519 256.515 573.643 251.679L559.749 257.308C560.804 260.027 564.627 270.334 567.698 278.636L562.596 278.082L560.99 292.854L578.022 293.711C578.289 293.74 578.557 293.755 578.826 293.755Z" fill="#036485"/>
          <path d="M570.897 264.769L569.897 293.987L570.167 293.996L571.167 264.778L570.897 264.769Z" fill="#0C0C0C"/>
          <path d="M521.46 293.755C520.263 293.755 519.083 293.465 518.022 292.912C516.961 292.358 516.049 291.556 515.365 290.574C514.681 289.592 514.244 288.459 514.091 287.272C513.939 286.084 514.076 284.878 514.49 283.755C514.91 282.615 525.179 256.4 527.055 251.564L540.536 257.309C539.481 260.028 535.659 270.335 532.588 278.637L537.69 278.082L539.295 292.855L522.263 293.712C521.996 293.74 521.728 293.755 521.46 293.755Z" fill="#036485"/>
          <path d="M532.556 276.905C532.532 276.905 532.509 276.9 532.489 276.889C532.468 276.878 532.45 276.863 532.436 276.844C532.422 276.825 532.413 276.803 532.409 276.78C532.406 276.757 532.407 276.734 532.414 276.711L536.021 265.355C536.027 265.336 536.036 265.318 536.049 265.303C536.061 265.288 536.076 265.275 536.094 265.265C536.111 265.256 536.131 265.25 536.15 265.248C536.17 265.247 536.19 265.249 536.209 265.255C536.228 265.261 536.246 265.27 536.261 265.283C536.276 265.296 536.288 265.312 536.297 265.33C536.306 265.348 536.311 265.367 536.312 265.387C536.314 265.407 536.311 265.427 536.304 265.445L532.697 276.8C532.688 276.83 532.669 276.857 532.644 276.876C532.618 276.895 532.588 276.905 532.556 276.905Z" fill="#0C0C0C"/>
          <path d="M578.778 271.569L575.85 294.05H529.81L532.845 270.743C532.946 269.972 533.323 269.265 533.907 268.753C534.49 268.24 535.24 267.957 536.017 267.957H575.605C576.06 267.957 576.51 268.054 576.924 268.241C577.339 268.429 577.709 268.702 578.009 269.044C578.31 269.386 578.534 269.788 578.666 270.223C578.799 270.659 578.837 271.117 578.778 271.569Z" fill="white"/>
          <path d="M578.192 268.884C577.955 268.615 577.678 268.384 577.37 268.201C577.212 268.106 577.046 268.024 576.875 267.957C576.47 267.797 576.04 267.714 575.605 267.713H536.017C535.182 267.716 534.375 268.021 533.748 268.572C533.12 269.124 532.713 269.884 532.604 270.713L529.565 294.05H530.056L533.087 270.774C533.181 270.063 533.53 269.411 534.069 268.937C534.608 268.464 535.3 268.202 536.017 268.201H575.605C576.025 268.201 576.441 268.291 576.824 268.465C577.206 268.638 577.548 268.891 577.825 269.207C578.103 269.523 578.31 269.894 578.432 270.296C578.555 270.699 578.591 271.122 578.537 271.539L575.605 294.05H576.096L579.018 271.6C579.082 271.115 579.041 270.621 578.898 270.153C578.756 269.685 578.515 269.252 578.192 268.884Z" fill="#292A2E"/>
          <path d="M581.465 271.569L578.537 294.05H532.497L535.532 270.743C535.604 270.185 535.823 269.657 536.165 269.211C536.506 268.764 536.96 268.416 537.479 268.201C537.867 268.039 538.283 267.956 538.703 267.957H578.293C578.748 267.957 579.197 268.054 579.612 268.242C580.026 268.43 580.396 268.703 580.696 269.045C580.996 269.387 581.22 269.789 581.352 270.224C581.485 270.659 581.523 271.118 581.465 271.569Z" fill="#292A2E"/>
          <path d="M580.878 268.884C580.555 268.517 580.157 268.222 579.712 268.02C579.266 267.819 578.782 267.714 578.293 267.713H538.703C538.084 267.714 537.476 267.883 536.944 268.201C536.497 268.467 536.115 268.832 535.829 269.267C535.542 269.702 535.358 270.196 535.29 270.713L532.251 294.05H532.742L535.773 270.774C535.867 270.063 536.216 269.411 536.755 268.937C537.294 268.464 537.986 268.202 538.703 268.201H578.293C578.713 268.201 579.129 268.291 579.512 268.464C579.895 268.638 580.236 268.891 580.513 269.207C580.791 269.523 580.997 269.894 581.12 270.296C581.242 270.699 581.277 271.122 581.223 271.539L578.293 294.05H578.782L581.706 271.6C581.769 271.115 581.728 270.621 581.585 270.153C581.442 269.685 581.201 269.252 580.878 268.884Z" fill="#292A2E"/>
          <path d="M404.367 294.189H585.321C585.358 294.189 585.394 294.174 585.42 294.148C585.446 294.122 585.46 294.087 585.46 294.05C585.46 294.013 585.446 293.978 585.42 293.952C585.394 293.926 585.358 293.911 585.321 293.911H404.367C404.331 293.911 404.295 293.926 404.269 293.952C404.243 293.978 404.229 294.013 404.229 294.05C404.229 294.087 404.243 294.122 404.269 294.148C404.295 294.174 404.331 294.189 404.367 294.189Z" fill="#292A2E"/>
          <path d="M404.367 294.189H585.321C585.358 294.189 585.394 294.174 585.42 294.148C585.446 294.122 585.46 294.087 585.46 294.05C585.46 294.013 585.446 293.978 585.42 293.952C585.394 293.926 585.358 293.911 585.321 293.911H404.367C404.331 293.911 404.295 293.926 404.269 293.952C404.243 293.978 404.229 294.013 404.229 294.05C404.229 294.087 404.243 294.122 404.269 294.148C404.295 294.174 404.331 294.189 404.367 294.189Z" fill="#292A2E"/>
          <path d="M514.031 286.446L514.668 269.695L523.469 269.23L524.27 286.446H514.031Z" fill="#036485"/>
        </g>
        <g id="Vector_2">
          <path d="M201.276 202H218.724V239.931H201.276V202Z" fill="#E98862"/>
          <path d="M203.552 205.793H206.586V211.103H203.552V205.793Z" fill="white"/>
          <path d="M208.483 205.793H211.517V211.103H208.483V205.793Z" fill="white"/>
          <path d="M213.414 205.793H216.448V211.103H213.414V205.793Z" fill="white"/>
          <path d="M203.552 212.241H206.586V217.552H203.552V212.241Z" fill="white"/>
          <path d="M208.483 212.241H211.517V217.552H208.483V212.241Z" fill="white"/>
          <path d="M213.414 212.241H216.448V217.552H213.414V212.241Z" fill="white"/>
          <path d="M203.552 218.69H206.586V224H203.552V218.69Z" fill="white"/>
          <path d="M208.483 218.69H211.517V224H208.483V218.69Z" fill="white"/>
          <path d="M213.414 218.69H216.448V224H213.414V218.69Z" fill="white"/>
          <path d="M203.552 225.138H206.586V230.448H203.552V225.138Z" fill="white"/>
          <path d="M208.483 225.138H211.517V230.448H208.483V225.138Z" fill="white"/>
          <path d="M208.483 225.138H211.517V230.448H208.483V225.138Z" fill="white"/>
          <path d="M213.414 225.138H216.448V230.448H213.414V225.138Z" fill="white"/>
          <path d="M203.552 231.586H206.586V236.897H203.552V231.586Z" fill="white"/>
          <path d="M208.483 231.586H211.517V238.793H208.483V231.586Z" fill="#0C0C0C"/>
          <path d="M213.414 231.586H216.448V236.897H213.414V231.586Z" fill="white"/>
          <path d="M199 239.931H221V242.207H199V239.931Z" fill="#333333"/>
          <path d="M259.414 182H285.586V238.897H259.414V182Z" fill="#94C434"/>
          <path d="M262.828 187.69H267.379V195.655H262.828V187.69Z" fill="white"/>
          <path d="M270.224 187.69H274.776V195.655H270.224V187.69Z" fill="white"/>
          <path d="M277.621 187.69H282.172V195.655H277.621V187.69Z" fill="white"/>
          <path d="M262.828 197.362H267.379V205.328H262.828V197.362Z" fill="white"/>
          <path d="M270.224 197.362H274.776V205.328H270.224V197.362Z" fill="white"/>
          <path d="M277.621 197.362H282.172V205.328H277.621V197.362Z" fill="white"/>
          <path d="M262.828 207.035H267.379V215H262.828V207.035Z" fill="white"/>
          <path d="M270.224 207.035H274.776V215H270.224V207.035Z" fill="white"/>
          <path d="M277.621 207.035H282.172V215H277.621V207.035Z" fill="white"/>
          <path d="M262.828 216.707H267.379V224.672H262.828V216.707Z" fill="white"/>
          <path d="M270.224 216.707H274.776V224.672H270.224V216.707Z" fill="white"/>
          <path d="M270.224 216.707H274.776V224.672H270.224V216.707Z" fill="white"/>
          <path d="M277.621 216.707H282.172V224.672H277.621V216.707Z" fill="white"/>
          <path d="M262.828 226.379H267.379V234.345H262.828V226.379Z" fill="white"/>
          <path d="M270.224 226.379H274.776V237.19H270.224V226.379Z" fill="#0C0C0C"/>
          <path d="M277.621 226.379H282.172V234.345H277.621V226.379Z" fill="white"/>
          <path d="M256 238.897H289V242.31H256V238.897Z" fill="#333333"/>
          <path d="M263.333 174.667H281.667V182H263.333V174.667Z" fill="#536A26"/>
          <path d="M265.167 176.5H268.833V180.167H265.167V176.5Z" fill="#4A4A4A"/>
          <path d="M270.667 176.5H274.333V180.167H270.667V176.5Z" fill="#4A4A4A"/>
          <path d="M276.167 176.5H279.833V180.167H276.167V176.5Z" fill="#4A4A4A"/>
          <path d="M265.167 171H279.833L283.5 174.667H261.5L265.167 171Z" fill="#333333"/>
          <path d="M221 167H256V242H221V167Z" fill="#024460"/>
          <path d="M222 187H255V193H222V187Z" fill="url(#paint0_angular_2_219)"/>
          <path d="M222 177H255V183H222V177Z" fill="url(#paint1_angular_2_219)"/>
          <path d="M222 167H255V173H222V167Z" fill="url(#paint2_angular_2_219)"/>
          <path d="M222 197H255V203H222V197Z" fill="url(#paint3_angular_2_219)"/>
          <path d="M222 207H255V214H222V207Z" fill="url(#paint4_angular_2_219)"/>
          <path d="M222 217H255V224H222V217Z" fill="url(#paint5_angular_2_219)"/>
          <path d="M222 227H255V234H222V227Z" fill="url(#paint6_angular_2_219)"/>
          <path d="M290.339 218H300.605V240.317H290.339V218Z" fill="#E98862"/>
          <path d="M291.678 220.232H293.464V223.356H291.678V220.232Z" fill="white"/>
          <path d="M294.579 220.232H296.365V223.356H294.579V220.232Z" fill="white"/>
          <path d="M297.481 220.232H299.266V223.356H297.481V220.232Z" fill="white"/>
          <path d="M291.678 224.026H293.464V227.15H291.678V224.026Z" fill="white"/>
          <path d="M294.579 224.026H296.365V227.15H294.579V224.026Z" fill="white"/>
          <path d="M297.481 224.026H299.266V227.15H297.481V224.026Z" fill="white"/>
          <path d="M291.678 227.82H293.464V230.944H291.678V227.82Z" fill="white"/>
          <path d="M294.579 227.82H296.365V230.944H294.579V227.82Z" fill="white"/>
          <path d="M297.481 227.82H299.266V230.944H297.481V227.82Z" fill="white"/>
          <path d="M291.678 231.614H293.464V234.738H291.678V231.614Z" fill="white"/>
          <path d="M294.579 231.614H296.365V234.738H294.579V231.614Z" fill="white"/>
          <path d="M294.579 231.614H296.365V234.738H294.579V231.614Z" fill="white"/>
          <path d="M297.481 231.614H299.266V234.738H297.481V231.614Z" fill="white"/>
          <path d="M291.678 235.408H293.464V238.532H291.678V235.408Z" fill="white"/>
          <path d="M294.579 235.408H296.365V239.648H294.579V235.408Z" fill="#0C0C0C"/>
          <path d="M297.481 235.408H299.266V238.532H297.481V235.408Z" fill="white"/>
          <path d="M289 240.317H301.944V241.657H289V240.317Z" fill="#333333"/>
          <path d="M304.009 206.472H319.408V239.948H304.009V206.472Z" fill="#94C434"/>
          <path d="M306.017 209.82H308.695V214.506H306.017V209.82Z" fill="white"/>
          <path d="M310.369 209.82H313.047V214.506H310.369V209.82Z" fill="white"/>
          <path d="M314.721 209.82H317.399V214.506H314.721V209.82Z" fill="white"/>
          <path d="M306.017 215.511H308.695V220.197H306.017V215.511Z" fill="white"/>
          <path d="M310.369 215.511H313.047V220.197H310.369V215.511Z" fill="white"/>
          <path d="M314.721 215.511H317.399V220.197H314.721V215.511Z" fill="white"/>
          <path d="M306.017 221.202H308.695V225.888H306.017V221.202Z" fill="white"/>
          <path d="M310.369 221.202H313.047V225.888H310.369V221.202Z" fill="white"/>
          <path d="M314.721 221.202H317.399V225.888H314.721V221.202Z" fill="white"/>
          <path d="M306.017 226.893H308.695V231.579H306.017V226.893Z" fill="white"/>
          <path d="M310.369 226.893H313.047V231.579H310.369V226.893Z" fill="white"/>
          <path d="M310.369 226.893H313.047V231.579H310.369V226.893Z" fill="white"/>
          <path d="M314.721 226.893H317.399V231.579H314.721V226.893Z" fill="white"/>
          <path d="M306.017 232.584H308.695V237.27H306.017V232.584Z" fill="white"/>
          <path d="M310.369 232.584H313.047V238.944H310.369V232.584Z" fill="#0C0C0C"/>
          <path d="M314.721 232.584H317.399V237.27H314.721V232.584Z" fill="white"/>
          <path d="M302 239.948H321.416V241.957H302V239.948Z" fill="#333333"/>
          <path d="M306.315 202.157H317.101V206.472H306.315V202.157Z" fill="#536A26"/>
          <path d="M307.393 203.236H309.551V205.393H307.393V203.236Z" fill="#4A4A4A"/>
          <path d="M310.629 203.236H312.787V205.393H310.629V203.236Z" fill="#4A4A4A"/>
          <path d="M313.865 203.236H316.023V205.393H313.865V203.236Z" fill="#4A4A4A"/>
          <path d="M307.393 200H316.023L318.18 202.157H305.236L307.393 200Z" fill="#333333"/>
          <path d="M321 198H358V242.128H321V198Z" fill="#024460"/>
          <path d="M322.057 209.767H356.943V213.298H322.057V209.767Z" fill="url(#paint7_angular_2_219)"/>
          <path d="M322.057 203.884H356.943V207.414H322.057V203.884Z" fill="url(#paint8_angular_2_219)"/>
          <path d="M322.057 198H356.943V201.53H322.057V198Z" fill="url(#paint9_angular_2_219)"/>
          <path d="M322.057 215.651H356.943V219.181H322.057V215.651Z" fill="url(#paint10_angular_2_219)"/>
          <path d="M322.057 221.535H356.943V225.653H322.057V221.535Z" fill="url(#paint11_angular_2_219)"/>
          <path d="M322.057 227.419H356.943V231.537H322.057V227.419Z" fill="url(#paint12_angular_2_219)"/>
          <path d="M322.057 233.302H356.943V237.421H322.057V233.302Z" fill="url(#paint13_angular_2_219)"/>
        </g>
        <path id="Conn3" d="M378.5 111.5L398.412 114.097C418.681 116.741 432.402 136.091 428.191 156.093L426.955 161.964C424.104 175.508 431.552 189.109 444.5 194V194" stroke="#94C434" stroke-width="2" stroke-dasharray="10 10" fill-opacity="0"/>
        <g id="Windturbine">
          <rect id="Spacer_2" y="100" width="200" height="199.965" fill="white"/>
          <path id="Base" d="M73.7712 300C73.7712 293.955 78.672 289.054 84.7174 289.054H113.993C120.039 289.054 124.94 293.955 124.94 300V300H73.7712V300Z" fill="#024460"/>
          <rect id="Pole" x="93.903" y="188.012" width="11.3242" height="101.042" fill="url(#paint14_linear_2_219)"/>
          <path id="Conn1" d="M109.5 208.5L168.308 260.942C190.775 280.978 223.97 283.224 248.932 266.398V266.398C264.845 255.671 284.647 252.421 303.154 257.498L387 280.5" stroke="#94C434" stroke-width="2" stroke-dasharray="10 10" fill-opacity="0"/>
          <g id="Blades">
            <path id="Vector 1" d="M91.0274 183.867L97.427 104.827C97.6242 102.391 101.21 102.388 101.413 104.823L107.971 183.851C108.007 184.288 108.009 184.728 107.977 185.166C107.203 195.619 91.7767 195.604 91.0218 185.151C90.9909 184.723 90.9928 184.294 91.0274 183.867Z" fill="#94C434"/>
            <path id="Vector 3" d="M107.054 182.495L172.209 227.658C174.22 229.052 172.441 232.152 170.231 231.106L98.6206 197.19C98.2199 197.001 97.8347 196.78 97.4684 196.53C88.7796 190.595 96.4797 177.237 105.936 181.841C106.325 182.03 106.698 182.249 107.054 182.495Z" fill="#94C434"/>
            <path id="Vector 2" d="M99.9182 197.447L28.3766 231.506C26.1687 232.557 24.3834 229.461 26.3914 228.063L91.4568 182.768C91.8209 182.515 92.2041 182.29 92.6031 182.097C102.067 177.511 109.742 190.884 101.042 196.802C100.685 197.046 100.309 197.261 99.9182 197.447Z" fill="#94C434"/>
          </g>
          <g id="Ellipse 3" style="mix-blend-mode:screen">
            <circle cx="136" cy="133" r="45" fill="url(#paint15_radial_2_219)"/>
          </g>
          <path id="Conn2" d="M118 182H137.784C151.072 182 163.839 176.836 173.391 167.598L178.084 163.058C185.061 156.31 189 147.019 189 137.313V132.248C189 125.401 191.883 118.871 196.942 114.259V114.259C202.64 109.064 210.462 106.875 218.028 108.359L231.5 111" stroke="#94C434" stroke-width="2" stroke-dasharray="10 10" fill-opacity="0"/>
          <g id="Bolts">
            <path id="Ellipse 2" d="M111.018 188.012C111.018 194.481 105.795 199.721 99.3554 199.721C92.9159 199.721 87.6924 194.481 87.6924 188.012C87.6924 181.543 92.9159 176.303 99.3554 176.303C105.795 176.303 111.018 181.543 111.018 188.012Z" fill="white" stroke="#8AA6C8"/>
            <ellipse id="Ellipse 1" cx="99.3554" cy="188.012" rx="5.03296" ry="5.05209" fill="#7BB308"/>
          </g>
        </g>
        <path id="Cloud" fill-rule="evenodd" clip-rule="evenodd" d="M324.246 87.6352C325.787 87.3494 327.376 87.2 329 87.2C343.304 87.2 354.9 98.7958 354.9 113.1C354.9 126.458 344.787 137.454 331.8 138.85V139H329.02L329 139L328.98 139H293.323C293.316 139 293.308 139 293.3 139C293.292 139 293.284 139 293.277 139H253.068L253.05 139L253.032 139H247.8V138.302C239.329 135.997 233.1 128.251 233.1 119.05C233.1 108.032 242.032 99.1 253.05 99.1C254.955 99.1 256.797 99.3669 258.542 99.8654C260.587 82.484 275.369 69 293.3 69C306.718 69 318.373 76.5508 324.246 87.6352Z" fill="#B6E8F8" fill-opacity="0.47"/>
        <g id="Sun">
          <circle id="Ellipse 7" cx="546" cy="52" r="40" fill="url(#paint16_radial_2_219)" fill-opacity="0.58"/>
          <circle id="Ellipse 8" cx="546" cy="52" r="34.4828" fill="#F9CB56"/>
          <path id="Vector 4" d="M526 47.862L526.891 47.1101C530.509 44.0576 535.887 44.3888 539.103 47.862V47.862" stroke="#FBC438" stroke-width="2" fill-opacity="0"/>
          <path id="Vector 5" d="M552.897 48.5517L553.788 47.7998C557.406 44.7473 562.784 45.0785 566 48.5517V48.5517" stroke="#FBC438" stroke-width="2" fill-opacity="0"/>
          <path id="Vector 6" d="M556 61.6552L554.573 62.7702C549.087 67.0558 541.267 66.5774 536.345 61.6552V61.6552" stroke="#FBC438" stroke-width="2" fill-opacity="0"/>
        </g>
      </g>
      <defs>
        <radialGradient id="paint0_angular_2_219" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(339.5 235.361) rotate(90) scale(2.05929 17.4429)">
        <stop stop-color="#036485"/>
        <stop offset="1" stop-color="#036485" stop-opacity="0"/>
        </radialGradient>
        <radialGradient id="paint1_angular_2_219" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(339.5 235.361) rotate(90) scale(2.05929 17.4429)">
        <stop stop-color="#036485"/>
        <stop offset="1" stop-color="#036485" stop-opacity="0"/>
        </radialGradient>
        <radialGradient id="paint2_angular_2_219" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(339.5 235.361) rotate(90) scale(2.05929 17.4429)">
        <stop stop-color="#036485"/>
        <stop offset="1" stop-color="#036485" stop-opacity="0"/>
        </radialGradient>
        <radialGradient id="paint3_angular_2_219" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(339.5 235.361) rotate(90) scale(2.05929 17.4429)">
        <stop stop-color="#036485"/>
        <stop offset="1" stop-color="#036485" stop-opacity="0"/>
        </radialGradient>
        <radialGradient id="paint4_angular_2_219" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(339.5 235.361) rotate(90) scale(2.05929 17.4429)">
        <stop stop-color="#036485"/>
        <stop offset="1" stop-color="#036485" stop-opacity="0"/>
        </radialGradient>
        <radialGradient id="paint5_angular_2_219" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(339.5 235.361) rotate(90) scale(2.05929 17.4429)">
        <stop stop-color="#036485"/>
        <stop offset="1" stop-color="#036485" stop-opacity="0"/>
        </radialGradient>
        <radialGradient id="paint6_angular_2_219" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(339.5 235.361) rotate(90) scale(2.05929 17.4429)">
        <stop stop-color="#036485"/>
        <stop offset="1" stop-color="#036485" stop-opacity="0"/>
        </radialGradient>
        <radialGradient id="paint7_angular_2_219" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(339.5 235.361) rotate(90) scale(2.05929 17.4429)">
        <stop stop-color="#036485"/>
        <stop offset="1" stop-color="#036485" stop-opacity="0"/>
        </radialGradient>
        <radialGradient id="paint8_angular_2_219" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(339.5 235.361) rotate(90) scale(2.05929 17.4429)">
        <stop stop-color="#036485"/>
        <stop offset="1" stop-color="#036485" stop-opacity="0"/>
        </radialGradient>
        <radialGradient id="paint9_angular_2_219" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(339.5 235.361) rotate(90) scale(2.05929 17.4429)">
        <stop stop-color="#036485"/>
        <stop offset="1" stop-color="#036485" stop-opacity="0"/>
        </radialGradient>
        <radialGradient id="paint10_angular_2_219" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(339.5 235.361) rotate(90) scale(2.05929 17.4429)">
        <stop stop-color="#036485"/>
        <stop offset="1" stop-color="#036485" stop-opacity="0"/>
        </radialGradient>
        <radialGradient id="paint11_angular_2_219" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(339.5 235.361) rotate(90) scale(2.05929 17.4429)">
        <stop stop-color="#036485"/>
        <stop offset="1" stop-color="#036485" stop-opacity="0"/>
        </radialGradient>
        <radialGradient id="paint12_angular_2_219" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(339.5 235.361) rotate(90) scale(2.05929 17.4429)">
        <stop stop-color="#036485"/>
        <stop offset="1" stop-color="#036485" stop-opacity="0"/>
        </radialGradient>
        <radialGradient id="paint13_angular_2_219" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(339.5 235.361) rotate(90) scale(2.05929 17.4429)">
        <stop stop-color="#036485"/>
        <stop offset="1" stop-color="#036485" stop-opacity="0"/>
        </radialGradient>
        <linearGradient id="paint14_linear_2_219" x1="93.9031" y1="199.379" x2="105.312" y2="289.043" gradientUnits="userSpaceOnUse">
        <stop offset="0.1875" stop-color="#34849B"/>
        <stop offset="0.848958" stop-color="#036485"/>
        </linearGradient>
        <radialGradient id="paint15_radial_2_219" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(148.273 126.864) rotate(-38.2204) scale(41.657)">
        <stop stop-color="#D9D9D9"/>
        <stop offset="1" stop-color="#D9D9D9" stop-opacity="0"/>
        </radialGradient>
        <radialGradient id="paint16_radial_2_219" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(546 52) rotate(55.7389) scale(41.7433 40.863)">
        <stop offset="0.895833" stop-color="#F9CB56"/>
        <stop offset="1" stop-color="#F9CB56" stop-opacity="0"/>
        </radialGradient>
      </defs>
    </svg>
  </div>
</div>

<div class="cta">
  <div class="page-container">
    <div class="cta-copy">
      <p>
        Our product is still in development, if you're interested to learn more about it subscribe to our mailing list. 
      </p>
    </div>
    <form name="leader" action="">
      <input class="form-control" type="email" name="email" id="email" placeholder="your email address here">
      <input class="form-control" type="submit" value="Sign me up">
    </form>
  </div>
</div>


{{!-- <div class="client-needs">
  <ul>
    <li class="">Easy to follow</li>
    <li class="">Cost effective</li>
    <li class="">Climate changer</li>
  </ul>
</div>

<div class="client-challenges">
  <h2>It's a perfect fit if you:</h2>
  <ul>
    <li>use Excel and word processors for information tracking and report generation</li>
    <li>rely on in-office workstations being turned on, to support their daily tasks</li>
    <li>have requirements to migrate their on-premise systems to cloud</li>
    <li>would like to know more about benefits of moving their business to cloud</li>
    <li>have established "Commitment to Sustainability"</li>
    <li>are looking to learn how a change in technology stack can contribute in reducing global carbon footprint</li>
  </ul>
</div>

<div class="why-us">
  <h2>Why Linebox Technologies?</h2>
  <ul>
    <li>use Excel and word processors for information tracking and report generation</li>
    <li>rely on in-office workstations being turned on, to support their daily tasks</li>
    <li>have requirements to migrate their on-premise systems to cloud</li>
    <li>would like to know more about benefits of moving their business to cloud</li>
    <li>have established "Commitment to Sustainability"</li>
    <li>are looking to learn how a change in technology stack can contribute in reducing global carbon footprint</li>
  </ul>
  <p><a href="#">Learn more about our services</a></p>
</div> --}}

{{!-- 
challenges 
how to grow sales
how to gorw business 
how to improve productivity and efficiency  
how to reduce cost
--}}
